@layer components {

    .card {
        @apply shadow-md border border-gray-600 rounded-sm
    }
    
}


/* .card {
    border: 1px solid theme('colors.gray.700');
    border-radius: theme('borderRadius.sm');
    box-shadow: theme('boxShadow.sm');
} */